<header>
  <div class="top-bar">
    <span>powered by</span>
    <img src="assets/com2m-logo.png" />
    <span>+</span>
    <img src="assets/thing-forward-logo.png" />
  </div>
  <div class="container">
    <h1>Trashfox IoT Sensor</h1>
    <p>Trashfox IoT Sensor is a sample IoT application, that demonstrates how to use the Sigfox narrow band network and the com2m IoT platform
      to monitor the current fill level of waste containers.</p>
  </div>
</header>
<section id="main" class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="card">
        <p>Capacity</p>
        <h3>{{level}}%</h3>
        <ngb-progressbar type="success" [value]="level"></ngb-progressbar>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card">
        <p>Signal</p>
        <h3>{{values?.rssi.value}}</h3>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card">
        <p>Station</p>
        <h3>{{values?.station.value}}</h3>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card">
        <p>Last communication</p>
        <h3>{{values?.capacity.timestamp | date: 'dd.MM.y HH:ss'}}</h3>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <p>Current position:</p>
        <agm-map ng-if="values" [latitude]="values?.latitude.value" [longitude]="values?.longitude.value">
          <agm-marker [latitude]="values?.latitude.value" [longitude]="values?.longitude.value"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</section>
<footer>
  <p class="text-center">Made with ❤️&nbsp;&nbsp;in Dortmund</p>
</footer>
